<a href="https://colab.research.google.com/github/sabboshachi/ML_Test/blob/main/Linear_Regression_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd

df=pd.read_csv('/content/drive/MyDrive/Machine Learning (Munna Vai)/Datsets/california_housing_test.csv') #we are reading the data set with the help of pandas

df # running the read and loaded dataset

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [9]:
df.head(10) # selecting how many values from the dataset we want to see. Here we set a number of 10 to view 10 values from the dataset

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]

In [10]:
x = df.drop(["median_house_value"], axis=1) # enter the name of target value as this section is only for feature data and so we drop the target value colamn

In [12]:
y = df["median_house_value"] # enter the name of the target value colamn

In [14]:
from sklearn.model_selection import train_test_split # importing the model for the dataset to train & test & split
 
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.10)  # by 0.10 we are letting test data to use only 10% from the main dataset

In [17]:
x_train #show the taken x_train data from data sheet

      longitude  latitude  ...  households  median_income
1660    -117.90     33.73  ...       301.0         3.2639
2159    -121.99     38.53  ...       812.0         3.4186
441     -121.98     37.29  ...       660.0         3.2287
1733    -118.27     33.79  ...       354.0         3.3929
819     -122.58     37.98  ...       197.0         4.9615
...         ...       ...  ...         ...            ...
2986    -118.25     33.93  ...       228.0         1.1346
2438    -120.51     37.29  ...      1009.0         1.7679
1345    -121.29     37.33  ...         8.0         4.0000
952     -117.77     34.06  ...       591.0         1.9766
430     -121.14     37.48  ...       331.0         3.7045

[2550 rows x 8 columns]

In [20]:
x_test #show the taken x_test data from data sheet

      longitude  latitude  ...  households  median_income
2525    -117.18     32.83  ...       484.0         3.3750
246     -117.99     33.70  ...       859.0         4.6250
1398    -117.88     34.00  ...        50.0         3.9375
1188    -116.76     34.23  ...       376.0         2.6071
210     -121.83     37.28  ...       261.0         3.9009
...         ...       ...  ...         ...            ...
2116    -118.18     33.80  ...       561.0         2.0579
2699    -117.60     34.03  ...       239.0         5.5677
2465    -122.26     37.82  ...      1250.0         1.2185
1064    -118.22     33.95  ...       487.0         2.8167
1740    -118.99     35.24  ...        71.0         2.3500

[450 rows x 8 columns]

In [24]:
y_train #show the taken y_train data from data sheet

1660    155200.0
2159    127300.0
441     264900.0
1733    184600.0
819     292200.0
          ...
2986     85400.0
2438     79800.0
1345     75000.0
952     108000.0
430     128100.0
Name: median_house_value, Length: 2550, dtype: float64

In [23]:
y_test #show the taken y_test data from data sheet

2525    184100.0
246     248800.0
1398    187500.0
1188     89000.0
210     178600.0
          ...
2116    132700.0
2699    175400.0
2465    170000.0
1064    160400.0
1740     91700.0
Name: median_house_value, Length: 450, dtype: float64

In [25]:
from sklearn.linear_model import LinearRegression # importing the alogorithm 

linear = LinearRegression()

In [26]:
linear.fit(x_train,y_train) # fitting the traing data

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
linear.score(x_test,y_test) # result as the performance of the model  as R^2 value

0.5948833928503401