<a href="https://colab.research.google.com/github/sabboshachi/ML_Test/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Machine Learning (Munna Vai)/Datsets/Iris.csv")

In [3]:
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [5]:
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
x = df.drop(["Species"], axis=1)
y = df['Species']

In [8]:
x

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [9]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [17]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.15)

In [22]:
x_train

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
12    13            4.8           3.0            1.4           0.1
14    15            5.8           4.0            1.2           0.2
148  149            6.2           3.4            5.4           2.3
36    37            5.5           3.5            1.3           0.2
104  105            6.5           3.0            5.8           2.2
..   ...            ...           ...            ...           ...
108  109            6.7           2.5            5.8           1.8
101  102            5.8           2.7            5.1           1.9
53    54            5.5           2.3            4.0           1.3
50    51            7.0           3.2            4.7           1.4
18    19            5.7           3.8            1.7           0.3

[127 rows x 5 columns]

In [23]:
x_test

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
111  112            6.4           2.7            5.3           1.9
132  133            6.4           2.8            5.6           2.2
34    35            4.9           3.1            1.5           0.1
140  141            6.7           3.1            5.6           2.4
37    38            4.9           3.1            1.5           0.1
96    97            5.7           2.9            4.2           1.3
145  146            6.7           3.0            5.2           2.3
141  142            6.9           3.1            5.1           2.3
4      5            5.0           3.6            1.4           0.2
149  150            5.9           3.0            5.1           1.8
52    53            6.9           3.1            4.9           1.5
115  116            6.4           3.2            5.3           2.3
3      4            4.6           3.1            1.5           0.2
128  129            6.4           2.8            5.6           2.1
121  122            5.6           2.8            4.9           2.0
65    66            6.7           3.1            4.4           1.4
129  130            7.2           3.0            5.8           1.6
127  128            6.1           3.0            4.9           1.8
58    59            6.6           2.9            4.6           1.3
57    58            4.9           2.4            3.3           1.0
134  135            6.1           2.6            5.6           1.4
25    26            5.0           3.0            1.6           0.2
22    23            4.6           3.6            1.0           0.2

In [24]:
y_train

12         Iris-setosa
14         Iris-setosa
148     Iris-virginica
36         Iris-setosa
104     Iris-virginica
            ...
108     Iris-virginica
101     Iris-virginica
53     Iris-versicolor
50     Iris-versicolor
18         Iris-setosa
Name: Species, Length: 127, dtype: object

In [25]:
y_test

111     Iris-virginica
132     Iris-virginica
34         Iris-setosa
140     Iris-virginica
37         Iris-setosa
96     Iris-versicolor
145     Iris-virginica
141     Iris-virginica
4          Iris-setosa
149     Iris-virginica
52     Iris-versicolor
115     Iris-virginica
3          Iris-setosa
128     Iris-virginica
121     Iris-virginica
65     Iris-versicolor
129     Iris-virginica
127     Iris-virginica
58     Iris-versicolor
57     Iris-versicolor
134     Iris-virginica
25         Iris-setosa
22         Iris-setosa
Name: Species, dtype: object

In [28]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [29]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
model.score(x_test,y_test)

1.0