In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Machine Learning (Munna Vai)/Datsets/Iris.csv")

In [ ]:
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [ ]:
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
x = df.drop(["Species"], axis=1)
y = df['Species']

In [ ]:
x

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [ ]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.15)

In [ ]:
x_train

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
132  133            6.4           2.8            5.6           2.2
84    85            5.4           3.0            4.5           1.5
78    79            6.0           2.9            4.5           1.5
28    29            5.2           3.4            1.4           0.2
47    48            4.6           3.2            1.4           0.2
..   ...            ...           ...            ...           ...
24    25            4.8           3.4            1.9           0.2
74    75            6.4           2.9            4.3           1.3
148  149            6.2           3.4            5.4           2.3
33    34            5.5           4.2            1.4           0.2
7      8            5.0           3.4            1.5           0.2

[127 rows x 5 columns]

In [ ]:
x_test

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
12    13            4.8           3.0            1.4           0.1
25    26            5.0           3.0            1.6           0.2
22    23            4.6           3.6            1.0           0.2
105  106            7.6           3.0            6.6           2.1
5      6            5.4           3.9            1.7           0.4
16    17            5.4           3.9            1.3           0.4
86    87            6.7           3.1            4.7           1.5
129  130            7.2           3.0            5.8           1.6
138  139            6.0           3.0            4.8           1.8
147  148            6.5           3.0            5.2           2.0
59    60            5.2           2.7            3.9           1.4
123  124            6.3           2.7            4.9           1.8
96    97            5.7           2.9            4.2           1.3
53    54            5.5           2.3            4.0           1.3
142  143            5.8           2.7            5.1           1.9
70    71            5.9           3.2            4.8           1.8
23    24            5.1           3.3            1.7           0.5
39    40            5.1           3.4            1.5           0.2
125  126            7.2           3.2            6.0           1.8
114  115            5.8           2.8            5.1           2.4
95    96            5.7           3.0            4.2           1.2
20    21            5.4           3.4            1.7           0.2
1      2            4.9           3.0            1.4           0.2

In [ ]:
y_train

132     Iris-virginica
84     Iris-versicolor
78     Iris-versicolor
28         Iris-setosa
47         Iris-setosa
            ...
24         Iris-setosa
74     Iris-versicolor
148     Iris-virginica
33         Iris-setosa
7          Iris-setosa
Name: Species, Length: 127, dtype: object

In [ ]:
y_test

12         Iris-setosa
25         Iris-setosa
22         Iris-setosa
105     Iris-virginica
5          Iris-setosa
16         Iris-setosa
86     Iris-versicolor
129     Iris-virginica
138     Iris-virginica
147     Iris-virginica
59     Iris-versicolor
123     Iris-virginica
96     Iris-versicolor
53     Iris-versicolor
142     Iris-virginica
70     Iris-versicolor
23         Iris-setosa
39         Iris-setosa
125     Iris-virginica
114     Iris-virginica
95     Iris-versicolor
20         Iris-setosa
1          Iris-setosa
Name: Species, dtype: object

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
model.score(x_test,y_test)

1.0

In [ ]:
predictedAnswer = model.predict(x_test)

In [ ]:
predictedAnswer

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa'], dtype=object)