In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Here we need to mount our google drive with it first. This is because it will help use to import our necessary datafiles easily.

In [ ]:
import pandas as pd

data = pd.read_csv("/content/drive/MyDrive/Machine Learning (Munna Vai)/Datsets/glass.csv")

In [ ]:
data # running the read and loaded dataset

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [ ]:
x = data.drop(["Type"], axis=1)

In [ ]:
y = data["Type"]

In [ ]:
x

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]

In [ ]:
y

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

In [ ]:
y.unique() # seeing how many unique data are there in type colamn

array([1, 2, 3, 5, 6, 7])

In [ ]:
from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.10)

In [ ]:
x_train

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
44   1.51786  12.73  3.43  1.19  72.95  0.62   8.76  0.00  0.30
198  1.51531  14.38  0.00  2.66  73.10  0.04   9.08  0.64  0.00
166  1.52151  11.03  1.71  1.56  73.44  0.58  11.62  0.00  0.00
96   1.51841  13.02  3.62  1.06  72.34  0.64   9.13  0.00  0.15
1    1.51761  13.89  3.60  1.36  72.73  0.48   7.83  0.00  0.00
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
99   1.51811  12.96  2.96  1.43  72.92  0.60   8.79  0.14  0.00
206  1.51645  14.94  0.00  1.87  73.11  0.00   8.67  1.38  0.00
65   1.52099  13.69  3.59  1.12  71.96  0.09   9.40  0.00  0.00
42   1.51779  13.21  3.39  1.33  72.76  0.59   8.59  0.00  0.00
82   1.51646  13.41  3.55  1.25  72.81  0.68   8.10  0.00  0.00

[192 rows x 9 columns]

In [ ]:
x_test

In [ ]:
y_train

In [ ]:
y_test

In [ ]:
from sklearn.linear_model import LinearRegression
linearReg = LinearRegression()

In [ ]:
linearReg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
linearReg.score(x_test,y_test)

0.8518203828216481